<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2-hbnb</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/scripts/2-hbnb.js?cache_id={{ cache_id }}"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?cache_id={{ cache_id }}">
</head>
<body>
    <header>
        <!-- Add the new div element -->
        <div id="api_status" class="available"></div>
        <!-- Existing code -->
        <ul>
            <li>Amenity 1 <input type="checkbox" data-id="1" data-name="Amenity 1"></li>
            <li>Amenity 2 <input type="checkbox" data-id="2" data-name="Amenity 2"></li>
            <!-- Add more amenities here -->
        </ul>
        <div id="amenities"></div>
    </header>
</body>
</html>
